*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(27, 27, 27);
}

h1{
    
    color: rgb(110, 196, 120);
}

.main{
    padding: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: column;
align-items: center;
margin-top: 150px;
gap: 10px;
}

textarea{
    width:350px;
    height: 450px;
border-radius: 8px;
color: whitesmoke;
font-weight: bold;
font-size: 20px;
margin: 5px;
background-color: rgba(133, 173, 160, 0.266);
}
button{
    padding: 15px 20px;

border: none;
border-radius: 5px;
font-weight: bold;
background-color: rgb(15, 194, 134);

}

button:focus{
    background-color: rgb(142, 216, 14);
}

#result{
    padding: 10px;
    text-align: center;
font-size: x-large;
font-weight: bolder;
color: rgb(235, 231, 231);
}


@media only screen and (max-width: 375px) {
    .main{
width: 100%;
    }
}